h1 {
    font-style: italic;
}

.admin-user-description-total-card {
    margin: 20px;
    min-height: 412px;
}

.admin-user-description-total-card h3 {
    padding-bottom: 20px;
    color: #1b1d1f;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid lightgrey;
}

.utilisateurs-container {
    overflow: hidden;
}

.utilisateurs-container-scroll {
    overflow-y: scroll;
    height: 412px;
}