<app-header></app-header>
<div class="row">
    <div class="col-md-6">
        <app-signup></app-signup>
    </div>
    <div class="col-md-6">
        <md-card class="admin-user-description-total-card">
            <h3>Utilisateurs actuels:</h3>
            <div class="utilisateurs-container">
                <div class="utilisateurs-container-scroll">
                    <app-admin-user-description [user]="user" *ngFor="let user of users"></app-admin-user-description>
                </div>
            </div>
        </md-card>
    </div>
</div>