h1 {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

.team-health-container {
    margin: 20px;
}

.team-health-container h3 {
    padding-bottom: 20px;
    color: #1b1d1f;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid lightgrey;
}

.team-question {
    margin: 20px 0;
}