<md-card class="user-message-input-card">
    <h3>Ecrire un message à l'équipe: </h3>
    <form class="message-user-form" (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
            <!--<label for="content">Content</label>-->
            <input
                    type="text"
                    id="content"
                    class="form-control"
                    [ngModel]="message?.content"
                    name="content"
                    required>
        </div>
        <input type="radio" id="happy" value="happy" name="status" [ngModel]="message?.status"/>Happy
        <input type="radio" id="ok" value="ok" name="status" [ngModel]="message?.status" checked/>OK
        <input type="radio" id="sad" value="sad" name="status" [ngModel]="message?.status"/>Sad
        <button type="button" class="btn btn-danger" (click)="onClear(f)">Clear</button>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
    <app-message-list></app-message-list>
</md-card>