<article class="panel panel-default message-component">
    <div class="panel-body">
        {{ message.content }}
    </div>
    <footer class="panel-footer row" [ngClass]="{ 'happy': message.status === 'happy', 'ok': message.status === 'ok', 'sad': message.status === 'sad'}">
        <div class="author col-md-2">
            {{ message.username }}
        </div>
        <div class="config col-md-3">
            <!--<a (click)="onEdit()">Edit</a>-->
            <a *ngIf="belongsToUser()" (click)="onDelete()">Delete</a>
        </div>
        <div class="date col-md-7">
            {{ message.date | date: 'yMMMdjms' }}
        </div>
    </footer>
</article>