html,body { 
    height: 100%; margin: 0px; padding: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; 
    overflow-x: hidden;
    background: #f1f1f1;
}

a {
  color: #00B7FF;
  cursor: pointer;
}

a:hover,
a:active {
  color: #00B7FF;
  text-decoration: underline;
}

a.danger {
  color: red;
}

.spacing {
  margin-bottom: 20px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

/*.happy-team-container{
  margin: 50px;
}*/

.sub-container {
  height: 100%;
  /*margin: 30px 50px 0px 50px;*/
  /*margin-top: 10rem;*/
}
