.goals-admin-card {
    margin: 40px 40px 0% 40px;
    z-index: 3;
}

.completed {
    text-decoration: line-through;
}

.goals-admin-card h3 {
    padding-bottom: 20px;
    color: #1b1d1f;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid lightgrey;
}

.goals-admin-card li {
    margin: 40px 0;
}

.goals-admin-card h4 {
    
}

.goals-form {
    margin: 40px;
}