<md-card class="goals-admin-card">
    <h3>Ajouter un nouvel objectif d'équipe</h3>
    <form class="goals-form" (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
            <input type="text" id="content" class="form-control" [ngModel]="goal?.content" name="content" required>
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
    <ul>
        <li *ngFor="let goal of goals">
            <h4 [ngClass]="{'completed': goal.completed}">
                {{goal.content}} 
            </h4>
            <p>
                <button class="btn btn-danger" (click)="deleteGoal(goal)">Delete</button>
                <button class="btn btn-primary" (click)="completeGoal(goal)">{{ goal.completed === true ? 'Incomplete' : 'Complete'}}</button>
            </p>
        </li>
    </ul>
</md-card>