<md-card class="header-card">
    <nav>
        <ul class="nav nav-pills">
            <li routerLinkActive="active" *ngIf="adminStatus && loggedInStatus" [routerLink]="['/admin']" class="admin">
                <a md-button class="col-md-3 col-sm-3 btn btn-info">Admin</a>
            </li>
            <li routerLinkActive="active" *ngIf="loggedInStatus" [routerLink]="['/team']" class="team">
                <a md-button class="col-md-3 col-sm-3 btn btn-primary">Team</a>
            </li>
            <li routerLinkActive="active" *ngIf="loggedInStatus" [routerLink]="['/user']" class="user">
                <a md-button class="col-md-3 col-sm-3 btn btn-primary">User</a>
            </li>
            <li routerLinkActive="active" *ngIf="loggedInStatus" class="logout">
                <a md-button class="col-md-3 col-sm-3 btn btn-danger" (click)="onLogout()">Logout</a>
            </li>
            <li routerLinkActive="active" *ngIf="!loggedInStatus" [routerLink]="['/signin']" class=" signin">
                <a md-button class="col-md-3 col-sm-3 btn btn-primary">Sign In</a>
            </li>
        </ul>
    </nav>
</md-card>