.header-card {
    /*position: fixed;*/
    top: 0;
    width: 100%;
    z-index: 2;
}

h1 {
    background-color: lightblue;
    padding: 10px;
}

.logout {
    float: right;
}

.signin {
    text-align: right;
}

.nav>li>a:focus, .nav>li>a:hover {
    color: #000;
}