.header-card {
    
}

h1 {
    background-color: lightblue;
    padding: 10px;
}

.logout {
    text-align: right;
}

.signin {
    text-align: right;
}

.nav>li>a:focus, .nav>li>a:hover {
    color: #000;
}