<md-card class="team-message-card">
    <h3>Nos Messages</h3>
    <article *ngFor="let message of messages" class="panel panel-default message-body">
        <div class="panel-body">
            {{ message.content }}
        </div>
        <footer class="panel-footer">
            <div class="author">
                {{ message.username }}
            </div>
            <div class="status">{{ message.status }}</div>
            <div class="date">{{ message.date}}</div>
        </footer>
    </article>
</md-card>