.team-message-card {
    margin: 40px;
    z-index: 3;
}

.team-message-card h3 {
    padding-bottom: 20px;
    color: #1b1d1f;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid lightgrey;
}

.user-message {
    background-color: lightblue;
}

.message-body {
    margin: 20px;
}

.date {
    text-align: right;
    font-style: italic;
}

.happy {
    background-color: rgba(6, 206, 6, 0.2);
}

.ok {
    background-color: whitesmoke;
}

.sad {
    background-color: rgba(239, 0, 0, .22);
}

.panel-footer {
    margin: 0;
}