<md-card class="team-message-card">
    <h3>Nos Messages</h3>
    <article *ngFor="let message of messages" class="panel panel-default message-body">
        <div class="panel-body">
            {{ message.content }}
        </div>
        <footer class="panel-footer row" [ngClass]="{ 'happy': message.status === 'happy', 'ok': message.status === 'ok', 'sad': message.status === 'sad'}">
            <div class="author col-md-4">
                {{ message.username }}
            </div>
            <div class="date col-md-8">{{ message.date | date: 'yMMMdjms'}}</div>
        </footer>
    </article>
</md-card>