.signin-input {
    width: 100%;
    font-size: 1.3em;
}

.sign-in{
    padding: 0;
}

.signin-card {
    height: 100vh;
}

.signin-card form {
    margin: 50% 10%;
}

.signin-submit-button {
    float: right;
}

.sign-in-decoration {
    /*background-image: url("../../../public/assets/sign_in_cover.jpg");*/
}