.signin-input {
    width: 100%;
    font-size: 1.3em;
}

.sign-in{
    padding: 0;
    margin-top: 15%;
}

.signin-card {
    z-index: 9;
}

.signin-card form {
    padding: 10%;
}

.signin-submit-button {
    float: right;
}
