.user-health-container {
    margin: 40px;
    z-index: 3;
}

.user-health-component {
    z-index: 3;
}

.user-health-container h3 {
    padding-bottom: 20px;
    color: #1b1d1f;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid lightgrey;
}
